body {
  background: linear-gradient(90deg, #adbbd5, transparent);
  overflow-x: hidden !important;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#logo {
  max-width: 80%;
  margin: auto;
  pointer-events: none;
}

.banner {
  margin: auto;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-top: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url('./assets/bannerImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerContent {
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  /* height: 100%; */
  max-width: 41rem;
  margin: auto;
  display: flex;
  background-size: cover;
  padding: 0.7rem;
  color: #000000;
  flex-direction: column;
}

.bannerContent>h1{
  font-size: 8.8vw;
  font-weight: 300;
  margin: 0 auto;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.butnContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

h4 {
  width: 100%;
}

.bannerContent>a {
  text-decoration: none;
  width: fit-content;
  text-align: center;
  margin: auto;
  color: #eee;
  background: #9c27b0;
  padding: 0.9rem 2.1rem;
  border-radius: 3rem;
  cursor: pointer;
}

.butnContainer>span {
  padding: 0.5rem 1.6rem;
  background: #0b090c;
  cursor: pointer;
  box-shadow: 0 0 4px 0 #000;
  border-radius: 3rem;
  margin: 16px 4px;
  font-size: smaller;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section:nth-of-type(2) {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section:nth-of-type(2)>a {
  width: 40%;
  padding: 6rem 0;
  background-color: #000;
  color: #eee;
  margin: 3rem auto;
  cursor: pointer;
  border-radius: 5rem;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  
}